:root {
  --todo-max-width: 700px;
  --body-padding: 1.5rem;
  --gray-400: #818181;
  --gray-300: #D8D8D8;
  --gray-200: #DFDFDF;
  --gray-150: #F9F9F9;
  --gray-100: #F8F8F8;
  --gray-50: #EBEFF2;
  --danger-600: #F26464;
  --danger-500: #F26464;
  --danger-400: #FFEEEE;
  --danger-300: #FFDBDB;
  --success-500: #DDFCC5;
  --success-600: #52C41A;
  --black-500: #121212;
  --white: #ffffff;
  --blue-600: #1292DF;
  --blue-500: #109CF1;
  --blue-300: #1AA7FD;
  --yellow-100: #FCF3C5;
  --green-100: #DDFCC5;
  --green-200: #47AB16;
  --gap: 16px;
}

.app {
  padding: 2rem;
  height: calc(100vh - 2rem * 2);
}